#GROUP358 > .ladi-group {transition: all 150ms linear 0s;}
#GROUP364 > .ladi-group {transition: all 150ms linear 0s;}
#GROUP378 > .ladi-group {transition: all 150ms linear 0s;}
#GROUP387 > .ladi-group {transition: all 150ms linear 0s;}
#GROUP409 > .ladi-group {transition: all 150ms linear 0s;}
#GROUP410 > .ladi-group {transition: all 150ms linear 0s;}

